.remove-container {
  display: flex;
  justify-content: flex-end;
}

.remove-city {
  text-align: right;
  text-decoration: none;
  color: var(--text-primary);
  opacity: 0.6;
  transition: opacity 0.3s;
}

.remove-city:hover {
  opacity: 1;
}
