.form {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.3em;
  background: var(--background-white);
  border-radius: var(--border-radius);
}

.form__group {
  width: 100%;
  display: flex;
}

.form__input {
  width: 50%;
  font-size: 2em;
  border: none;
  font-family: inherit;
  outline: none;
  background-color: transparent;
  border-bottom: var(--border-input);
  margin-right: 0.5em;
  transition: border-bottom 0.2s linear;
}

@media screen and (min-width: 28.125em) {
  .form__input {
    margin-right: 1.2em;
  }
}

.form__input:focus {
  border-bottom: var(--border-input-focus);
}

.form__button {
  font-size: 1.6em;
  border: none;
  padding: 0.625em 1em;
  background-color: var(--background-btn-secondary);
  color: var(--text-primary);
  font-family: inherit;
  border-radius: var(--button-border-radius);
  transition: background 0.2s ease;
  cursor: pointer;
}

.form__button:disabled {
  background: var(--background-btn-secondary-disabled);
  cursor: not-allowed;
}
