.welcome {
  font-size: 2em;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  margin: auto;
}

@media screen and (min-width: 48em) {
  .welcome {
    font-size: 3em;
  }
}

.welcome__icon {
  margin-left: 0.5em;
}
