.welcome {
  font-size: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .welcome {
    font-size: 3em;
  }
}

.welcome__icon {
  margin-left: 0.5em;
}
