.city-tile {
  font-size: 2rem;
  width: 12rem;
  height: 12rem;
  margin-top: 2rem;
  padding: 1.3rem;
  color: #fff;
  background: hsla(220, 72%, 25%, 0.12);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.city-tile__temperature {
  font-size: 2.5rem;
}

.city-tile__icon {
  margin-left: auto;
}

.city-tile__name {
  flex-basis: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
