.city-tile {
  width: 12em;
  height: 12em;
  margin-top: 2em;
  padding: 1.3em;
  color: #fff;
  background: hsla(220, 72%, 25%, 0.12);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.city-tile__temperature {
  font-size: 2.5em;
}

.city-tile__icon {
  font-size: 4.5em;
  margin-left: auto;
}

.city-tile__name {
  font-size: 2em;
  flex-basis: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
