.city-details {
  color: #fff;
  padding: 2em;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

@media screen and (min-width: 64em) {
  .city-details {
    font-size: 1.3em;
    max-width: 80em;
    margin: 0 auto;
  }
}
