.cities-grid {
  /* font-size: 1.16em; */
  width: 100%;
  max-width: var(--content-max-width);
  margin: 0;
  padding: 1em;
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 12em);
  justify-content: center;
  gap: var(--cities-grid-gap);
}

@media screen and (max-width: 19.6875em) {
  .cities-grid {
    grid-template-columns: repeat(auto-fit, 10em);
    padding: 0;
  }
}

.cities-grid__city {
  list-style: none;
}

.cities__error {
  font-size: 1.8em;
  color: var(--text-primary);
}
