.form__group {
  border-radius: var(--border-radius);
  padding: 1em;
  background-color: white;
  width: 100%;
  display: flex;
}

.form__city-input {
  font-size: 1.6em;
  border: none;
  font-family: inherit;
  outline: none;
  margin-right: auto;
}

.form__button {
  font-size: 1.6em;
  border: none;
  padding: 0.625em 1em;
  background-color: #585342;
  color: #fff;
  font-family: inherit;
  border-radius: var(--button-border-radius);
}

.form__button:disabled {
  visibility: hidden;
}
