.form {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2em;
  background: var(--background-white);
  border-radius: var(--border-radius);
}

.form__group {
  width: 100%;
  display: flex;
}

.form__input {
  width: 50%;
  font-size: 2em;
  border: none;
  font-family: inherit;
  outline: none;
  background-color: transparent;
  border-bottom: var(--border-input);
  padding: 0 0 0.2em;
  transition: border-bottom 0.2s linear;
}

.form__input:focus {
  border-bottom: var(--border-input-focus);
}

.form__input:first-of-type {
  margin-right: 1em;
}

.form__button {
  display: none;
  font-size: 1.6em;
  border: none;
  padding: 0.625em 1em;
  background-color: var(--background-form-btn);
  color: var(--text-primary);
  font-family: inherit;
  border-radius: var(--button-border-radius);
}

.form__button:disabled {
  visibility: hidden;
}
