.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 8em;
  width: 100%;
  max-width: 84em;
  align-items: center;
  color: var(--text-primary);
}

@media screen and (max-width: 19.6875em) {
  .header {
    height: 6em;
  }
}

.header__form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: var(--border-radius);
  transform: translate(0, -120%);
  opacity: 0;
  transition: all 0.3s ease-out;
}

.header__form-container:focus-within {
  opacity: 1;
  transform: translate(0, 0);
}

@media screen and (min-width: 48em) {
  .header__form-container {
    width: 60%;
    left: 50%;
    transform: translate(-37%, -120%);
  }

  .header__form-container:focus-within {
    transform: translate(-37%, 0);
  }
}

.header__nav {
  font-size: 2.2em;
}

@media screen and (max-width: 19.6875em) {
  .header__nav {
    font-size: 1.8em;
  }
}

.header__nav-container {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__nav-item:not(:last-child) {
  margin-right: 0.2em;
}

.header__nav-button {
  background: none;
  border: none;
  font-size: inherit;
  cursor: pointer;
}

.header__nav-link {
  text-decoration: none;
}

.header__icon {
  color: var(--text-primary);
}

.header__logo-link:link,
.header__logo-link:visited,
.header__logo-link:hover,
.header__logo-link:active {
  text-decoration: none;
}
