@import-normalize;

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* Color Variables */
  --background-white: #fff;
  --text-primary: #fff;
  --background-form-btn: #585342;
  --background-primary: #67afef;
  --background-secondary: #5373e8;
  --background-forecast: hsla(200, 72%, 25%, 0.2);
  --simplebar-scrollbar: hsla(200, 72%, 25%, 0.8);

  /* Border Variables */
  --border-radius: 1.2em;
  --border: 1px solid #fff;
  --border-form: 2px solid #fff;
  --border-input: 1px solid rgba(103, 175, 239, 0.3);
  --border-input-focus: 3px solid #67afef;
  --button-border-radius: 0.375em;

  /* Cities Grid */
  --cities-grid-gap: 1.5em;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(
    var(--background-primary),
    var(--background-secondary)
  );
  margin: 0;
  box-sizing: border-box;
  /* Typography */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
